<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Classification</title>
</head>
<body  ><center>
    <h1 style="background-image:url('https://www.google.com/imgres?q=iris%20flower%20classification&imgurl=https%3A%2F%2Feditor.analyticsvidhya.com%2Fuploads%2F51518iris%2520img1.png&imgrefurl=https%3A%2F%2Fwww.analyticsvidhya.com%2Fblog%2F2022%2F06%2Firis-flowers-classification-using-machine-learning%2F&docid=6zrPRopWo1kMcM&tbnid=frrE1Ou8VqYGdM&vet=12ahUKEwjfrs2NybeFAxUGcWwGHelwBb0QM3oECBoQAA..i&w=1000&h=447&hcb=2&ved=2ahUKEwjfrs2NybeFAxUGcWwGHelwBb0QM3oECBoQAA');">Iris Flower Classification</h1>
    <form action="/predict" method="post">
        <label for="sepal_length">Sepal Length:</label>
        <input type="text" id="sepal_length" name="sepal_length" required><br><br>
        <label for="sepal_width">Sepal Width:</label>
        <input type="text" id="sepal_width" name="sepal_width" required><br><br>
        <label for="petal_length">Petal Length:</label>
        <input type="text" id="petal_length" name="petal_length" required><br><br>
        <label for="petal_width">Petal Width:</label>
        <input type="text" id="petal_width" name="petal_width" required><br><br>
        <button type="submit">Predict</button></center>
    </form>
</body>
</html>